<div>
    <a href="/"><button>Go to Home</button></a>
    <a href="/profile/private"><button>Go to Private</button></a>
</div>

<div>
    <h2>Tu perfil</h2>

<img src="/public/images/perro1.jpg" alt="photoperro">

</div>
