<div>
    <a href="/"><button>Go to Home</button></a>
    <a href="/profile/"><button>Go to Main</button></a>
</div>
<div>
    <h2>Tu Colección privada</h2>

    <img src="/public/images/perro2.jpg" alt="gifperro">
</div>